<div class="nested-step-fields">
  <div class="form-group">
    <%= ing.label :description, t('description') %>
    <%= ing.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= ing.label :position, t('position') %>
    <%= ing.number_field :position, class: "form-control" %>
  </div>

  <%= ing.hidden_field :_destroy %> <!-- Champ pour suppression -->

  <%= link_to "#", class: "remove-step-fields btn btn-danger btn-sm" do %>
    <%= t('delete') %>
  <% end %>
</div>